body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
}

.main {
    height: 100vh;
    background-image: url(../img/fondo-principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* logo */

.logo {
    width: 100%;
    max-width: calc(25rem + 1vw);
    /* width: clamp(20rem, -0.875rem + 7.333vw, 5rem); */
}


/* titulo #1 */

.main-p {
    font-size: 1.3rem;
    font-weight: 800;
    color: #230131;
    text-align: center;
}


/* botón armar mesa */

.btn-mesa {
    background: linear-gradient(180deg, #22A1C7 0%, #F1BB03 100%);
    border-radius: 100px;
    border: 4px solid #230131;
    padding: .8rem 3rem;
}

.img-mesa {
    width: 100%;
    max-width: 80px;
}

.p-mesa {
    font-size: 2rem;
    font-weight: 800;
    color: #230131;
    margin: 0;
}


/* titulo #2 */

.main-p2 {
    font-size: 1.1rem;
    font-weight: 800;
    color: #230131;
    text-align: center;
}


/* modal */

.modal-content {
    max-width: 21rem;
    border-radius: 1.1rem;
}

.modal-body {
    background: linear-gradient(180deg, #22A1C7 0%, #F1BB03 100%);
    border-radius: 1rem;
}

.modal-color {
    background-color: rgba(36, 1, 50, .8);
}

.p-modal-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.7rem;
    padding-top: 1rem;
}

.p-modal-subtitle {
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1rem;
    padding: 1rem 0;
}

.box-btn-armar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-modal {
    width: 100%;
    max-width: 5rem;
    margin: .5rem;
}

.btn-modal-armar {
    background-color: #FFFFFF;
    color: #230131;
    font-size: 1.2rem;
    font-weight: 800;
    padding: .3rem 2.2rem;
    border-radius: .8rem;
}


/* Radio buttons meses */

.cont-radio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

.input-radio {
    display: none;
}

.label {
    position: relative;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 800;
    border: 2px solid #fff;
    border-radius: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: .3rem 2.8rem;
    margin: 0;
}

.input-radio:checked+.label {
    background-color: #FFFFFF;
    color: #230131;
}

.input-radio:checked+.label::before {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
}